<H1> DAY 2 - TASK 1 </H1>

<h4> INDEXING </H4>

1. Create a variable

	* An integer type
	* A List of integers
	* A string
	* A List of integer and String
	* A tuple of integers
	* A set of strings
	* A List of strings


2. Create a dictionary and include all the above variables as value
	against a unique random key

3. Try to access the different values and sub values in this dictionary

In [3]:
a = 2
b = [1,2,3,4,5]
c = 'Hello'
d = [10,20,'Arithmetic']
e = (99,88,77)
f = {'Apple', 'Banana', 'Orange'}
g = ['Alpha', 'Beta', 'Gamma', 'Lambda']

In [4]:
result_dict = dict()
result_dict = {'First' : a, 'Second' : b, 'Third' : c, 'Fourth' : d, 'Fifth' : e, 'Sixth' : f, 'Seventh' : g}
result_dict

{'First': 2,
 'Second': [1, 2, 3, 4, 5],
 'Third': 'Hello',
 'Fourth': [10, 20, 'Arithmetic'],
 'Fifth': (99, 88, 77),
 'Sixth': {'Apple', 'Banana', 'Orange'},
 'Seventh': ['Alpha', 'Beta', 'Gamma', 'Lambda']}

In [7]:
print(result_dict['First'])
print(result_dict['Second'][2])
print(result_dict['Third'])
print(result_dict['Fourth'][1])
print(result_dict['Fifth'][0])
print(result_dict['Sixth']) #can't access separate values in set as it is an unordered collection and indexing not possible
print(result_dict['Seventh'][1])

2
3
Hello
20
99
{'Orange', 'Banana', 'Apple'}
Beta

In [10]:
my_dictionary = {'key1' : {'subkey1' : [23, 24, 25], 'subkey2' : [20, 24, 29], 'subkey3' : [25, 28, 35]},
                     'key2' : {'subkey1' : [-23, -24, -25], 'subkey2' : [-20, -24, -29]},
                     'key3' : [('Ravi', 'Mahesh', 'Mary', 'Johnson'), ([(23, 39), (45, 90)], ('Doctor', 'Engineer'))]}

a. Find the subkey in key1 of my dictionary with maximum average

In [17]:
avg = 0
for key in my_dictionary['key1']:
    new_avg = sum(my_dictionary['key1'][key])/len(my_dictionary['key1'][key])
    if avg < new_avg: 
        avg = new_avg
print(avg)

29.333333333333332

b. Find the sum of subkey2 in key2 of my dictionary

In [18]:
print(sum(my_dictionary['key1']['subkey2']))

73

c. Access the last character of last name of first element of key3 - 'n'

In [21]:
print(my_dictionary['key3'][0][3][-1])

n

d. Access the last element of first element of second element of key3 - (45, 90)

In [26]:
print(my_dictionary['key3'][1][0][1])

(45, 90)

e. Access the fourth letter of "Engineer" - "n"

In [31]:
print(my_dictionary['key3'][1][1][1][-4])

n

<H4> SLICING </H4>

1. Check whether reversing works on tuples.

In [35]:
tup = (1,2,3,4,5)
tup[::-1]

(5, 4, 3, 2, 1)

2. Create a list of top 50 numbers, Try accessing the last 10 numbers using negativ index
    List the odd numbers from the list

In [51]:
list1 = list(range(51))
last_10 = list1[-10:]
print(last_10)

print(last_10[::2])

[41, 42, 43, 44, 45, 46, 47, 48, 49, 50]
[41, 43, 45, 47, 49]