### 1. Adding five more rows to the existing data

In [3]:
import pandas as pd

In [4]:
data = pd.DataFrame({'Redness' : [10, 4, 3.1, 9.5, 5.0, 9.8, 2.3, 3.1, 2.8, 6.3],
'Roundness' : [4, 10, 13.1, .95, 8.0, 3.9, 12.3, 13.1, 10.1, 16.3],
'Price' : [20, 13, 12, 19, 10, 15, 9.3, 8.1, 4.2, 8.7],
'Fruit' : ['Apple', 'Orange', 'Orange', 'Apple', 'Orange','Apple', 'Orange', 'Orange', 'Orange', 'Apple']
})

In [5]:
add_rows = {'Redness':[4, 10.2, 5.4, 9.3, 2.5], 'Roundness':[10, 5, 8.3, 3.2, 12.5], 'Price': [13, 23.6, 14, 13.6, 8.9], 
           'Fruit': ['Orange', 'Apple', 'Orange', 'Apple', 'Orange']}

data = data.append(pd.DataFrame(add_rows), ignore_index = True)

C:\Users\CY595VA\AppData\Local\Temp\ipykernel_7572\336592646.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = data.append(pd.DataFrame(add_rows), ignore_index = True)

In [6]:
data

    Redness  Roundness  Price   Fruit
0      10.0       4.00   20.0   Apple
1       4.0      10.00   13.0  Orange
2       3.1      13.10   12.0  Orange
3       9.5       0.95   19.0   Apple
4       5.0       8.00   10.0  Orange
5       9.8       3.90   15.0   Apple
6       2.3      12.30    9.3  Orange
7       3.1      13.10    8.1  Orange
8       2.8      10.10    4.2  Orange
9       6.3      16.30    8.7   Apple
10      4.0      10.00   13.0  Orange
11     10.2       5.00   23.6   Apple
12      5.4       8.30   14.0  Orange
13      9.3       3.20   13.6   Apple
14      2.5      12.50    8.9  Orange

In [7]:
features = data.drop('Fruit', axis = 1)
target = data[['Fruit']]

In [8]:
from sklearn.model_selection import train_test_split

In [9]:
#feature_train, feature_test, label_train, label_test
X_train, X_test, y_train, y_test = train_test_split(features, target, random_state=30, train_size=0.7)

In [10]:
X_train

    Redness  Roundness  Price
8       2.8      10.10    4.2
3       9.5       0.95   19.0
6       2.3      12.30    9.3
1       4.0      10.00   13.0
13      9.3       3.20   13.6
2       3.1      13.10   12.0
7       3.1      13.10    8.1
4       5.0       8.00   10.0
14      2.5      12.50    8.9
5       9.8       3.90   15.0

In [11]:
X_test

    Redness  Roundness  Price
0      10.0        4.0   20.0
10      4.0       10.0   13.0
11     10.2        5.0   23.6
12      5.4        8.3   14.0
9       6.3       16.3    8.7

In [12]:
y_train

     Fruit
8   Orange
3    Apple
6   Orange
1   Orange
13   Apple
2   Orange
7   Orange
4   Orange
14  Orange
5    Apple

In [13]:
y_test

     Fruit
0    Apple
10  Orange
11   Apple
12  Orange
9    Apple

#### Train the model on train set

In [14]:
from sklearn.tree import DecisionTreeClassifier

In [15]:
my_model = DecisionTreeClassifier()

In [16]:
#fit trains the model on train data
my_model.fit(X_train, y_train)

DecisionTreeClassifier()

It has now learnt the function F which we were looking for

#### Test your model

In [17]:
#Testing means pass on the unseen hidden test set to the model and ask it to do predictions
y_pred = my_model.predict(X_test)

##### Evaluate your model

In [18]:
# Compare the predictions - y_pred with the actuals - y_test

from sklearn.metrics import accuracy_score

accuracy_score(y_pred, y_test)

0.6

#### Evaluate on Train Data

In [19]:
y_pred_train = my_model.predict(X_train)

accuracy_score(y_pred_train, y_train)

1.0

### 2. Change the train_size value to something more than 75 and less than 75 to see any change in accuracy

More than 75

In [20]:
X_train, X_test, y_train, y_test = train_test_split(features, target, random_state=30, train_size=0.85)

In [21]:
X_train

    Redness  Roundness  Price
12      5.4       8.30   14.0
9       6.3      16.30    8.7
8       2.8      10.10    4.2
3       9.5       0.95   19.0
6       2.3      12.30    9.3
1       4.0      10.00   13.0
13      9.3       3.20   13.6
2       3.1      13.10   12.0
7       3.1      13.10    8.1
4       5.0       8.00   10.0
14      2.5      12.50    8.9
5       9.8       3.90   15.0

In [22]:
X_test

    Redness  Roundness  Price
0      10.0        4.0   20.0
10      4.0       10.0   13.0
11     10.2        5.0   23.6

In [23]:
y_train

     Fruit
12  Orange
9    Apple
8   Orange
3    Apple
6   Orange
1   Orange
13   Apple
2   Orange
7   Orange
4   Orange
14  Orange
5    Apple

In [24]:
y_test

     Fruit
0    Apple
10  Orange
11   Apple

In [25]:
from sklearn.tree import DecisionTreeClassifier

In [26]:
my_model = DecisionTreeClassifier()

In [27]:
my_model.fit(X_train, y_train)

DecisionTreeClassifier()

In [28]:
y_pred = my_model.predict(X_test)

In [29]:
from sklearn.metrics import accuracy_score

accuracy_score(y_pred, y_test)

1.0

In [30]:
y_pred_train = my_model.predict(X_train)

accuracy_score(y_pred_train, y_train)

1.0

Less than 75

In [31]:
X_train, X_test, y_train, y_test = train_test_split(features, target, random_state=30, train_size=0.65)

In [32]:
X_train

    Redness  Roundness  Price
3       9.5       0.95   19.0
6       2.3      12.30    9.3
1       4.0      10.00   13.0
13      9.3       3.20   13.6
2       3.1      13.10   12.0
7       3.1      13.10    8.1
4       5.0       8.00   10.0
14      2.5      12.50    8.9
5       9.8       3.90   15.0

In [33]:
X_test

    Redness  Roundness  Price
0      10.0        4.0   20.0
10      4.0       10.0   13.0
11     10.2        5.0   23.6
12      5.4        8.3   14.0
9       6.3       16.3    8.7
8       2.8       10.1    4.2

In [34]:
y_train

     Fruit
3    Apple
6   Orange
1   Orange
13   Apple
2   Orange
7   Orange
4   Orange
14  Orange
5    Apple

In [35]:
y_test

     Fruit
0    Apple
10  Orange
11   Apple
12  Orange
9    Apple
8   Orange

In [36]:
from sklearn.tree import DecisionTreeClassifier

In [37]:
my_model = DecisionTreeClassifier()

In [38]:
my_model.fit(X_train, y_train)

DecisionTreeClassifier()

In [39]:
y_pred = my_model.predict(X_test)

In [40]:
from sklearn.metrics import accuracy_score

accuracy_score(y_pred, y_test)

0.8333333333333334

In [41]:
y_pred_train = my_model.predict(X_train)

accuracy_score(y_pred_train, y_train)

1.0

### 3.  Change the random state to any other state and observe the accuracy

In [42]:
X_train, X_test, y_train, y_test = train_test_split(features, target, random_state=42, train_size=0.85)

In [43]:
print(X_train)
print(X_test)
print(y_train)
print(y_test)

    Redness  Roundness  Price
13      9.3       3.20   13.6
5       9.8       3.90   15.0
8       2.8      10.10    4.2
2       3.1      13.10   12.0
1       4.0      10.00   13.0
14      2.5      12.50    8.9
4       5.0       8.00   10.0
7       3.1      13.10    8.1
10      4.0      10.00   13.0
12      5.4       8.30   14.0
3       9.5       0.95   19.0
6       2.3      12.30    9.3
    Redness  Roundness  Price
9       6.3       16.3    8.7
11     10.2        5.0   23.6
0      10.0        4.0   20.0
     Fruit
13   Apple
5    Apple
8   Orange
2   Orange
1   Orange
14  Orange
4   Orange
7   Orange
10  Orange
12  Orange
3    Apple
6   Orange
    Fruit
9   Apple
11  Apple
0   Apple

In [44]:
from sklearn.tree import DecisionTreeClassifier

In [45]:
my_model = DecisionTreeClassifier()

In [46]:
my_model.fit(X_train, y_train)

DecisionTreeClassifier()

In [47]:
y_pred = my_model.predict(X_test)

In [48]:
from sklearn.metrics import accuracy_score

accuracy_score(y_pred, y_test)

0.6666666666666666

In [49]:
y_pred_train = my_model.predict(X_train)

accuracy_score(y_pred_train, y_train)

1.0