<h1> TASK 2 </h1>

1. Print the value of key ‘history’

In [2]:
sampleDict = {
    "class": {
        "student": {
            "name": "Mike",
            "marks": {
                "physics": 70,
                "history": 80
            }
        }
    }
}

sampleDict

{'class': {'student': {'name': 'Mike',
   'marks': {'physics': 70, 'history': 80}}}}

In [9]:
print(sampleDict['class']['student']['marks']['history'])

80

2. Extract values of following keys keys = ["name", "salary"]

In [21]:
sample_dict = {
    "name": "Kelly",
    "age": 25,
    "salary": 8000,
    "city": "New york"}

sample_dict

{'name': 'Kelly', 'age': 25, 'salary': 8000, 'city': 'New york'}

In [22]:
print(sample_dict['name'], sample_dict['salary'])

Kelly 8000

3. Remove the following keys keys = ["name", "salary"]

In [23]:
sample_dict.pop("name")

'Kelly'

In [24]:
sample_dict.pop("salary")

8000

In [25]:
sample_dict

{'age': 25, 'city': 'New york'}